source/html/base.pug
doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")
			
		<link rel="icon" type="image/png"  href="images/favicon.png">
		
		title Project
	body
		include components/header-area.pug
		block content
		include components/footer-area.pug
		<a class="back-to-top js-back-to-top" href="#" title="Scroll To Top"><i class="icon icn-arrow_up"></i></a>
		
		div(id="mini-cart-modal")
			div(class="mini-cart-modal__content")
				div(class="mini-cart-modal__header")
					div(class="mini-cart-modal__close")
						<svg  viewBox="0 0 329.26933 329"  xmlns="http://www.w3.org/2000/svg">
							<path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>
						</svg>
						span
							| закрыть
					div(class="mini-cart-modal__count")
						<div class="mini-cart">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17.6562 4.6875H15.2755C14.9652 2.05164 12.7179 0 10 0C7.28215 0 5.0348 2.05164 4.72445 4.6875H2.34375C1.91227 4.6875 1.5625 5.03727 1.5625 5.46875V19.2188C1.5625 19.6502 1.91227 20 2.34375 20H17.6562C18.0877 20 18.4375 19.6502 18.4375 19.2188V5.46875C18.4375 5.03727 18.0877 4.6875 17.6562 4.6875ZM10 1.5625C11.8548 1.5625 13.3992 2.91621 13.6976 4.6875H6.30238C6.60082 2.91621 8.14516 1.5625 10 1.5625ZM16.875 18.4375H3.125V6.25H4.6875V8.59375C4.6875 9.02523 5.03727 9.375 5.46875 9.375C5.90023 9.375 6.25 9.02523 6.25 8.59375V6.25H13.75V8.59375C13.75 9.02523 14.0998 9.375 14.5312 9.375C14.9627 9.375 15.3125 9.02523 15.3125 8.59375V6.25H16.875V18.4375Z"></path>
							</svg>
							<span class="mini-cart__count">10</span>
						</div>
				div(class="mini-cart-modal__list")
					form(action="" nethod="")
						div(class="mini-cart-modal__item")
							a(class="preview" href="#")
								img(class="lazyload w-100" data-src="images/cat1.png" alt="img")
							div(class="d-flex flex-column")
								a(class="title" href="#")
									| Здесь название
								span(class="price")
									| 1 x 1 499 Р.
						div(class="mini-cart-modal__item")
							a(class="preview" href="#")
								img(class="lazyload w-100" data-src="images/cat1.png" alt="img")
							div(class="d-flex flex-column")
								a(class="title" href="#")
									| Здесь название и оно очень большое, сам посмотри только на это!
								span(class="price")
									| 1 x 1 499 Р.
						div(class="mini-cart-modal__item")
							a(class="preview" href="#")
								img(class="lazyload w-100" data-src="images/cat1.png" alt="img")
							div(class="d-flex flex-column")
								a(class="title" href="#")
									| Здесь название
								span(class="price")
									| 1 x 1 499 Р.
						div(class="mini-cart-modal__item")
							a(class="preview" href="#")
								img(class="lazyload w-100" data-src="images/cat1.png" alt="img")
							div(class="d-flex flex-column")
								a(class="title" href="#")
									| Здесь название и оно очень большое, сам посмотри только на это!
								span(class="price")
									| 1 x 1 499 Р.
				div(class="mini-cart-modal__footer")
					div(class="mini-cart-modal__final-price d-flex justify-content-between align-items-center")
						span
							| Цена:
						span
							| 1 499 Р.
					a(href="#" class="mini-cart-modal__submit")
						| Оформить заказ
		script(src="js/main.min.js")

release/base.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css"><link rel="icon" type="image/png"  href="images/favicon.png">
    <title>Project</title>
  </head>
  <body>
    <header class="header header_scroll">
      <div class="header-dekstop">
        <div class="header-topline d-none d-lg-block">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-8">
                <ul class="d-flex align-items-center">
                  <li><a class="header-link" href="#">главная</a></li>
                  <li><a class="header-link" href="#">каталог</a></li>
                  <li><a class="header-link" href="#">о компании</a></li>
                  <li><a class="header-link" href="#">доставка и оплата</a></li>
                  <li><a class="header-link" href="#">контакты</a></li>
                </ul>
              </div>
              <div class="col-4 d-flex justify-content-end"><a class="phone" href="tel:+78002000600"><b>+7 800 2000 600</b></a></div>
            </div>
          </div>
        </div>
        <div class="header-main">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="d-block d-lg-none col-2">
                <div class="burger"><span></span><span></span><span></span></div>
              </div>
              <div class="col-4 col-lg-2"><a class="logo" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo"></a></div>
              <div class="col-lg-7 d-none d-lg-flex align-items-center">
                <div><a class="header-link" href="#">Постельное белье</a><a class="header-link" href="#">Пледы</a><a class="header-link" href="#">Одеяла</a><a class="header-link" href="#">Подушки</a><a class="header-link" href="#">Матрацы</a><a class="header-link" href="#">Наматрасники</a><a class="header-link" href="#">Детское</a>
                </div>
              </div>
              <div class="col-6 col-lg-3 d-flex justify-content-end align-items-end header-main__right"><a class="d-flex d-lg-none search mr-2" href="#"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.52217 4.55148C5.23373 4.26281 4.76576 4.26281 4.47732 4.55148C3.40639 5.62242 2.88002 7.11429 3.03299 8.64484C3.07115 9.02613 3.39236 9.31035 3.76748 9.31035C3.79213 9.31035 3.81697 9.3091 3.84162 9.30664C4.24779 9.26601 4.54408 8.90367 4.50346 8.49777C4.39459 7.41007 4.76603 6.35246 5.52217 5.59628C5.81084 5.30789 5.81084 4.83988 5.52217 4.55148Z"/>
<path d="M8.44828 0C3.78988 0 0 3.78988 0 8.44828C0 13.1067 3.78988 16.8966 8.44828 16.8966C13.1067 16.8966 16.8966 13.1067 16.8966 8.44828C16.8966 3.78988 13.1066 0 8.44828 0ZM8.44828 15.4187C4.60469 15.4187 1.47785 12.2919 1.47785 8.44828C1.47785 4.60469 4.60469 1.47785 8.44828 1.47785C12.2916 1.47785 15.4187 4.60469 15.4187 8.44828C15.4187 12.2919 12.2919 15.4187 8.44828 15.4187Z"/>
<path d="M19.7835 18.7387L14.4141 13.3692C14.1254 13.0805 13.6579 13.0805 13.3692 13.3692C13.0805 13.6577 13.0805 14.1256 13.3692 14.4141L18.7387 19.7835C18.883 19.9278 19.0719 20 19.2611 20C19.4503 20 19.6392 19.9278 19.7835 19.7835C20.0722 19.4951 20.0722 19.0271 19.7835 18.7387Z"/>
</svg></a>
                <div class=" d-none d-lg-flex search mr-5">
                  <div class="search-btn"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.52217 4.55148C5.23373 4.26281 4.76576 4.26281 4.47732 4.55148C3.40639 5.62242 2.88002 7.11429 3.03299 8.64484C3.07115 9.02613 3.39236 9.31035 3.76748 9.31035C3.79213 9.31035 3.81697 9.3091 3.84162 9.30664C4.24779 9.26601 4.54408 8.90367 4.50346 8.49777C4.39459 7.41007 4.76603 6.35246 5.52217 5.59628C5.81084 5.30789 5.81084 4.83988 5.52217 4.55148Z"/>
<path d="M8.44828 0C3.78988 0 0 3.78988 0 8.44828C0 13.1067 3.78988 16.8966 8.44828 16.8966C13.1067 16.8966 16.8966 13.1067 16.8966 8.44828C16.8966 3.78988 13.1066 0 8.44828 0ZM8.44828 15.4187C4.60469 15.4187 1.47785 12.2919 1.47785 8.44828C1.47785 4.60469 4.60469 1.47785 8.44828 1.47785C12.2916 1.47785 15.4187 4.60469 15.4187 8.44828C15.4187 12.2919 12.2919 15.4187 8.44828 15.4187Z"/>
<path d="M19.7835 18.7387L14.4141 13.3692C14.1254 13.0805 13.6579 13.0805 13.3692 13.3692C13.0805 13.6577 13.0805 14.1256 13.3692 14.4141L18.7387 19.7835C18.883 19.9278 19.0719 20 19.2611 20C19.4503 20 19.6392 19.9278 19.7835 19.7835C20.0722 19.4951 20.0722 19.0271 19.7835 18.7387Z"/>
</svg>
                  </div>
                  <form class="search-form" action="" nethod="">
                    <div class="position-relative">
                      <input class="text" placeholder="Поиск...">
                      <button class="search-form__submit" type="submit"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.52217 4.55148C5.23373 4.26281 4.76576 4.26281 4.47732 4.55148C3.40639 5.62242 2.88002 7.11429 3.03299 8.64484C3.07115 9.02613 3.39236 9.31035 3.76748 9.31035C3.79213 9.31035 3.81697 9.3091 3.84162 9.30664C4.24779 9.26601 4.54408 8.90367 4.50346 8.49777C4.39459 7.41007 4.76603 6.35246 5.52217 5.59628C5.81084 5.30789 5.81084 4.83988 5.52217 4.55148Z"/>
<path d="M8.44828 0C3.78988 0 0 3.78988 0 8.44828C0 13.1067 3.78988 16.8966 8.44828 16.8966C13.1067 16.8966 16.8966 13.1067 16.8966 8.44828C16.8966 3.78988 13.1066 0 8.44828 0ZM8.44828 15.4187C4.60469 15.4187 1.47785 12.2919 1.47785 8.44828C1.47785 4.60469 4.60469 1.47785 8.44828 1.47785C12.2916 1.47785 15.4187 4.60469 15.4187 8.44828C15.4187 12.2919 12.2919 15.4187 8.44828 15.4187Z"/>
<path d="M19.7835 18.7387L14.4141 13.3692C14.1254 13.0805 13.6579 13.0805 13.3692 13.3692C13.0805 13.6577 13.0805 14.1256 13.3692 14.4141L18.7387 19.7835C18.883 19.9278 19.0719 20 19.2611 20C19.4503 20 19.6392 19.9278 19.7835 19.7835C20.0722 19.4951 20.0722 19.0271 19.7835 18.7387Z"/>
</svg>
                      </button>
                      <button class="search-form__close"><svg  viewBox="0 0 329.26933 329"  xmlns="http://www.w3.org/2000/svg">
<path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>
</svg>
                      </button>
                    </div>
                  </form>
                </div><a class="compare mr-2 mr-lg-4" href="#"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.5408 2.90117C17.5543 1.78188 16.1859 1.16547 14.6875 1.16547C12.5802 1.16547 11.246 2.42406 10.4979 3.47992C10.3038 3.75391 10.1386 4.02863 10 4.28715C9.86137 4.02863 9.69629 3.75391 9.50215 3.47992C8.75402 2.42406 7.41984 1.16547 5.3125 1.16547C3.81414 1.16547 2.44566 1.78192 1.45918 2.90121C0.518242 3.96895 0 5.39895 0 6.92778C0 8.59196 0.649727 10.1398 2.04473 11.7989C3.29148 13.2817 5.08512 14.8101 7.16211 16.58C7.93605 17.2395 8.73641 17.9216 9.58848 18.6671L9.61406 18.6895C9.72453 18.7862 9.86227 18.8345 10 18.8345C10.1377 18.8345 10.2755 18.7862 10.3859 18.6895L10.4115 18.6671C11.2636 17.9216 12.0639 17.2396 12.838 16.5799C14.9149 14.8102 16.7085 13.2817 17.9553 11.7989C19.3503 10.1398 20 8.59196 20 6.92778C20 5.39895 19.4818 3.96895 18.5408 2.90117ZM12.0779 15.6881C11.4107 16.2566 10.724 16.8417 10 17.4711C9.27602 16.8418 8.58934 16.2566 7.92203 15.688C3.85723 12.2242 1.17188 9.93586 1.17188 6.92778C1.17188 5.68442 1.58613 4.52957 2.33836 3.67602C3.09922 2.81278 4.15543 2.33735 5.3125 2.33735C6.9191 2.33735 7.95766 3.32711 8.54594 4.15742C9.07363 4.90211 9.34898 5.65281 9.44289 5.94098C9.52145 6.18219 9.74633 6.34543 10 6.34543C10.2537 6.34543 10.4786 6.18219 10.5571 5.94098C10.651 5.65281 10.9264 4.90211 11.4541 4.15738C12.0423 3.32711 13.0809 2.33735 14.6875 2.33735C15.8446 2.33735 16.9008 2.81278 17.6616 3.67602C18.4139 4.52957 18.8281 5.68442 18.8281 6.92778C18.8281 9.93586 16.1428 12.2242 12.0779 15.6881Z"/>
</svg></a>
                <!--a(class="log mr-2 mr-lg-4" href="#")
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                	<path d="M17.0711 12.9289C15.9819 11.8398 14.6855 11.0335 13.2711 10.5454C14.786 9.50199 15.7812 7.75578 15.7812 5.78125C15.7812 2.59348 13.1878 0 10 0C6.81223 0 4.21875 2.59348 4.21875 5.78125C4.21875 7.75578 5.21402 9.50199 6.72898 10.5454C5.31453 11.0335 4.01813 11.8398 2.92895 12.9289C1.0402 14.8177 0 17.3289 0 20H1.5625C1.5625 15.3475 5.34754 11.5625 10 11.5625C14.6525 11.5625 18.4375 15.3475 18.4375 20H20C20 17.3289 18.9598 14.8177 17.0711 12.9289ZM10 10C7.67379 10 5.78125 8.1075 5.78125 5.78125C5.78125 3.455 7.67379 1.5625 10 1.5625C12.3262 1.5625 14.2188 3.455 14.2188 5.78125C14.2188 8.1075 12.3262 10 10 10Z"/>
                </svg>
                
                --><a class="mini-cart mini-cart_btn" href="#"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.6562 4.6875H15.2755C14.9652 2.05164 12.7179 0 10 0C7.28215 0 5.0348 2.05164 4.72445 4.6875H2.34375C1.91227 4.6875 1.5625 5.03727 1.5625 5.46875V19.2188C1.5625 19.6502 1.91227 20 2.34375 20H17.6562C18.0877 20 18.4375 19.6502 18.4375 19.2188V5.46875C18.4375 5.03727 18.0877 4.6875 17.6562 4.6875ZM10 1.5625C11.8548 1.5625 13.3992 2.91621 13.6976 4.6875H6.30238C6.60082 2.91621 8.14516 1.5625 10 1.5625ZM16.875 18.4375H3.125V6.25H4.6875V8.59375C4.6875 9.02523 5.03727 9.375 5.46875 9.375C5.90023 9.375 6.25 9.02523 6.25 8.59375V6.25H13.75V8.59375C13.75 9.02523 14.0998 9.375 14.5312 9.375C14.9627 9.375 15.3125 9.02523 15.3125 8.59375V6.25H16.875V18.4375Z"/>
</svg><span class="mini-cart__count">10</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-mobile" id="mobile-menu-modal">
        <div class="header-mobile__content">
          <div class="d-flex justify-content-end">
            <div class="header-mobile__close"><span>меню</span><svg  viewBox="0 0 329.26933 329"  xmlns="http://www.w3.org/2000/svg">
<path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>
</svg>
            </div>
          </div>
          <div>
            <ul>
              <li><a class="header-link" href="#">главная</a></li>
              <li><a class="header-link" href="#">каталог</a></li>
              <li><a class="header-link" href="#">о компании</a></li>
              <li><a class="header-link" href="#">доставка и оплата</a></li>
              <li><a class="header-link" href="#">контакты</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer__line"></div>
          </div>
        </div>
      </div>
      <div class="footer-topline">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-3 pb-5 pb-lg-0"><a class="logo mb-4" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo"></a>
              <p>Продажа текситильных товаров для дома из натуральных материалов</p>
              <div class="social social_footer"><a class="social__item" href="#"><svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.145 15.5C15.617 15.5 14.379 13.302 14.647 12.67C14.643 12.198 14.639 11.744 14.655 11.468C14.875 11.53 15.394 11.793 16.466 12.835C18.121 14.505 18.544 15.5 19.881 15.5H22.342C23.122 15.5 23.528 15.177 23.731 14.906C23.927 14.644 24.119 14.184 23.909 13.468C23.36 11.744 20.158 8.767 19.959 8.453C19.989 8.395 20.037 8.318 20.062 8.278H20.06C20.692 7.443 23.104 3.829 23.459 2.383C23.46 2.381 23.461 2.378 23.461 2.375C23.653 1.715 23.477 1.287 23.295 1.045C23.021 0.683 22.585 0.5 21.996 0.5H19.535C18.711 0.5 18.086 0.915 17.77 1.672C17.241 3.017 15.755 5.783 14.641 6.762C14.607 5.375 14.63 4.316 14.648 3.529C14.684 1.994 14.8 0.5 13.207 0.5H9.339C8.341 0.5 7.386 1.59 8.42 2.884C9.324 4.018 8.745 4.65 8.94 7.796C8.18 6.981 6.828 4.78 5.872 1.967C5.604 1.206 5.198 0.501 4.055 0.501H1.594C0.596 0.501 0 1.045 0 1.956C0 4.002 4.529 15.5 12.145 15.5ZM4.055 2.001C4.272 2.001 4.294 2.001 4.455 2.458C5.434 5.341 7.63 9.607 9.234 9.607C10.439 9.607 10.439 8.372 10.439 7.907L10.438 4.205C10.372 2.98 9.926 2.37 9.633 2L13.141 2.004C13.143 2.021 13.121 6.099 13.151 7.087C13.151 8.49 14.265 9.294 16.004 7.534C17.839 5.463 19.108 2.367 19.159 2.241C19.234 2.061 19.299 2 19.535 2H21.996H22.006C22.005 2.003 22.005 2.006 22.004 2.009C21.779 3.059 19.558 6.405 18.815 7.444C18.803 7.46 18.792 7.477 18.781 7.494C18.454 8.028 18.188 8.618 18.826 9.448H18.827C18.885 9.518 19.036 9.682 19.256 9.91C19.94 10.616 22.286 13.03 22.494 13.99C22.356 14.012 22.206 13.996 19.881 14.001C19.386 14.001 18.999 13.261 17.522 11.771C16.194 10.479 15.332 9.951 14.547 9.951C13.023 9.951 13.134 11.188 13.148 12.684C13.153 14.306 13.143 13.793 13.154 13.895C13.065 13.93 12.81 14 12.145 14C5.8 14 1.668 3.929 1.509 2.004C1.564 1.999 2.321 2.002 4.055 2.001Z" fill="#8E8E8E"/>
</svg></a><a class="social__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.75 24H19.25C21.869 24 24 21.869 24 19.25V4.75C24 2.131 21.869 0 19.25 0H4.75C2.131 0 0 2.131 0 4.75V19.25C0 21.869 2.131 24 4.75 24ZM1.5 4.75C1.5 2.958 2.958 1.5 4.75 1.5H19.25C21.042 1.5 22.5 2.958 22.5 4.75V19.25C22.5 21.042 21.042 22.5 19.25 22.5H4.75C2.958 22.5 1.5 21.042 1.5 19.25V4.75Z" fill="#8E8E8E"/>
<path d="M12 18.1301C15.38 18.1301 18.13 15.3801 18.13 12.0001C18.13 8.62012 15.38 5.87012 12 5.87012C8.62 5.87012 5.87 8.62012 5.87 12.0001C5.87 15.3801 8.62 18.1301 12 18.1301ZM12 7.37012C14.553 7.37012 16.63 9.44712 16.63 12.0001C16.63 14.5531 14.553 16.6301 12 16.6301C9.447 16.6301 7.37 14.5531 7.37 12.0001C7.37 9.44712 9.447 7.37012 12 7.37012Z" fill="#8E8E8E"/>
<path d="M18.358 7.36192C19.344 7.36192 20.087 6.62192 20.087 5.64092C20.087 4.61792 19.305 3.91992 18.359 3.91992C17.373 3.91992 16.63 4.65992 16.63 5.64092C16.63 6.66192 17.408 7.36192 18.358 7.36192ZM18.535 5.47592C18.851 5.75492 18.13 6.09392 18.13 5.64192C18.13 5.37192 18.497 5.44192 18.535 5.47592Z" fill="#8E8E8E"/>
</svg></a></div>
            </div>
            <div class="d-none d-lg-block col-12 col-lg-3 pb-5 pb-lg-0"><span class="title">КАТАЛОГ</span>
              <ul>
                <li><a href="#">Постельное белье</a></li>
                <li><a href="#">Постельное белье</a></li>
                <li><a href="#">Постельное белье</a></li>
                <li><a href="#">Постельное белье</a></li>
                <li><a href="#">Постельное белье</a></li>
                <li><a href="#">Постельное белье</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-3 pb-5 pb-lg-0"><span class="title">ИФОРМАЦИЯ</span>
              <ul>
                <li><a href="#">о компании</a></li>
                <li><a href="#">доставка и оплата</a></li>
                <li><a href="#">Обмен и возврат</a></li>
                <li><a href="#">контакты</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-3 pb-5 pb-lg-0"><span class="title">КОНТАКТЫ</span>
              <div class="d-flex align-items-center mb-3"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip10)">
<path d="M12.7467 1.96767C10.1233 -0.65575 5.87702 -0.656032 3.25332 1.96767C0.629957 4.591 0.62955 8.83737 3.25332 11.4611L7.64526 15.853C7.84122 16.049 8.15888 16.0489 8.35481 15.853L12.7468 11.4611C15.3701 8.83775 15.3705 4.59141 12.7467 1.96767ZM12.0372 10.7516L8.00002 14.7887L3.96288 10.7516C1.7368 8.52548 1.7368 4.90334 3.96288 2.67726C6.18898 0.451219 9.811 0.451156 12.0372 2.67726C14.2632 4.9033 14.2632 8.52545 12.0372 10.7516Z" fill="black"/>
<path d="M7.99991 3.71338C6.3414 3.71338 4.99902 5.05548 4.99902 6.71424C4.99902 8.37273 6.34118 9.71511 7.99991 9.71511C9.65845 9.71511 11.0008 8.37295 11.0008 6.71424C11.0008 5.05576 9.65867 3.71338 7.99991 3.71338ZM9.41229 8.12662C9.39306 8.12662 8.92014 8.71162 7.99991 8.71162C6.89599 8.71162 6.00251 7.8183 6.00251 6.71424C6.00251 5.61035 6.89586 4.71687 7.99991 4.71687C9.79317 4.71687 10.6551 6.88383 9.41229 8.12662Z" fill="black"/>
</g>
<defs>
<clipPath id="clip10">
<rect width="16" height="16" fill="white"/>
</clipPath>
</defs>
</svg><span class="d-block pl-2 info">Челябинск, ул. Ленина 1а</span>
              </div><a class="d-flex align-items-center mb-3 phone" href="tel:88002000600"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip11)">
<path d="M12.6086 0.467248L12.5917 0.44573C12.3069 0.159505 11.9196 -0.000994403 11.5158 4.63615e-06H4.47489C3.63812 0.00254066 2.96042 0.680235 2.95789 1.51701V14.4784C2.95708 14.8821 3.11754 15.2694 3.40361 15.5543C3.68846 15.8404 4.07578 16.0008 4.4795 16H11.5204C11.9239 16.0012 12.3112 15.8413 12.5963 15.5558C12.8824 15.271 13.0428 14.8837 13.042 14.4799V1.51854C13.0398 1.12508 12.8843 0.747978 12.6086 0.467248ZM12.4534 14.4784C12.4535 14.7258 12.3551 14.9631 12.1798 15.1378C12.0052 15.313 11.7678 15.4115 11.5204 15.4113H4.47489C4.22744 15.4115 3.99017 15.313 3.81553 15.1378C3.63981 14.9633 3.54083 14.726 3.54041 14.4784V1.51854C3.5421 1.00316 3.9595 0.585749 4.47489 0.584058H11.5204C11.768 0.584481 12.0053 0.683463 12.1798 0.859179L12.1936 0.871474C12.3614 1.04508 12.4551 1.27712 12.4549 1.51854L12.4534 14.4784Z" fill="black"/>
<path d="M7.99778 14.967C8.22442 14.967 8.40815 14.7833 8.40815 14.5566C8.40815 14.33 8.22442 14.1462 7.99778 14.1462C7.77113 14.1462 7.5874 14.33 7.5874 14.5566C7.5874 14.7833 7.77113 14.967 7.99778 14.967Z" fill="black"/>
<path d="M11.7526 1.83042H11.7495C11.5098 1.58961 11.184 1.45413 10.8442 1.45386H5.15738C4.81809 1.45451 4.49302 1.59 4.25364 1.83042C4.01283 2.07015 3.87734 2.39591 3.87708 2.7357V12.3941C3.87734 12.7339 4.01283 13.0597 4.25364 13.2994C4.49337 13.5402 4.81913 13.6757 5.15892 13.676H10.8458C11.1773 13.6758 11.4958 13.5468 11.7341 13.3163L11.7526 13.2994C11.9934 13.0597 12.1289 12.7339 12.1291 12.3941V2.73416C12.1285 2.39491 11.993 2.0698 11.7526 1.83042ZM11.3361 12.8875L11.3238 12.9013C11.1942 13.025 11.0218 13.0938 10.8427 13.0934H5.15585C4.97072 13.0937 4.79312 13.0202 4.66247 12.889C4.53091 12.7585 4.45679 12.581 4.45652 12.3956V2.73416C4.45621 2.54904 4.52979 2.37144 4.66094 2.24079C4.79158 2.10965 4.96918 2.03607 5.15431 2.03637H10.8411C11.0263 2.03607 11.2039 2.10965 11.3345 2.24079C11.4657 2.37144 11.5392 2.54904 11.5389 2.73416L11.542 12.3941C11.5417 12.5794 11.4676 12.757 11.3361 12.8875Z" fill="black"/>
</g>
<defs>
<clipPath id="clip11">
<rect width="16" height="16" fill="white"/>
</clipPath>
</defs>
</svg><span class="d-block pl-2 info">8 800 2000 600</span></a><a class="d-flex align-items-center mailto" href="mailto:info@mail.ru"><svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13.1688 0.79248H1.83426C0.822471 0.79248 0 1.61495 0 2.62674V10.3735C0 11.3853 0.822471 12.2078 1.83426 12.2078H13.1657C14.1775 12.2078 15 11.3853 15 10.3735V2.62985C15.0031 1.61805 14.1806 0.79248 13.1688 0.79248ZM14.1651 10.3735C14.1651 10.9228 13.7182 11.3698 13.1688 11.3698H1.83426C1.28492 11.3698 0.837989 10.9228 0.837989 10.3735V2.62985C0.837989 2.0805 1.28492 1.63357 1.83426 1.63357H13.1657C13.7151 1.63357 14.162 2.0805 14.162 2.62985V10.3735H14.1651Z" fill="black"/>
<path d="M9.45994 6.40371L13.1285 3.11383C13.2992 2.95864 13.3147 2.69483 13.1595 2.52103C13.0043 2.35032 12.7405 2.33481 12.5667 2.48999L7.50774 7.03065L6.52078 6.14921C6.51767 6.1461 6.51457 6.143 6.51457 6.1399C6.49284 6.11817 6.47112 6.09955 6.44629 6.08093L2.43015 2.48689C2.25634 2.3317 1.99253 2.34722 1.83735 2.52103C1.68217 2.69483 1.69768 2.95864 1.87149 3.11383L5.58347 6.43164L1.88701 9.89222C1.71941 10.0505 1.7101 10.3143 1.86839 10.485C1.95218 10.5719 2.06392 10.6185 2.17565 10.6185C2.27807 10.6185 2.38049 10.5812 2.46119 10.5067L6.21351 6.99651L7.23151 7.90588C7.31221 7.97726 7.41153 8.0114 7.51084 8.0114C7.61016 8.0114 7.71258 7.97416 7.79017 7.90278L8.83611 6.96547L12.5667 10.5099C12.6474 10.5874 12.7529 10.6247 12.8554 10.6247C12.9671 10.6247 13.0757 10.5812 13.1595 10.4943C13.3178 10.3267 13.3116 10.0598 13.144 9.90154L9.45994 6.40371Z" fill="black"/>
</svg><span class="d-block pl-2 info">info@mail.ru</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-botline">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 pb-4 pb-lg-0 d-flex justify-content-center d-lg-block"><a class="link" href="#">Политика конфиденциальности</a></div>
            <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end"><a class="link" href="#">Разработка сайта<span>DEKSIS.RU</span></a></div>
          </div>
        </div>
      </div>
    </section><a class="back-to-top js-back-to-top" href="#" title="Scroll To Top"><i class="icon icn-arrow_up"></i></a>
    <div id="mini-cart-modal">
      <div class="mini-cart-modal__content">
        <div class="mini-cart-modal__header">
          <div class="mini-cart-modal__close"><svg  viewBox="0 0 329.26933 329"  xmlns="http://www.w3.org/2000/svg">
<path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>
</svg><span>закрыть</span>
          </div>
          <div class="mini-cart-modal__count"><div class="mini-cart">
<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.6562 4.6875H15.2755C14.9652 2.05164 12.7179 0 10 0C7.28215 0 5.0348 2.05164 4.72445 4.6875H2.34375C1.91227 4.6875 1.5625 5.03727 1.5625 5.46875V19.2188C1.5625 19.6502 1.91227 20 2.34375 20H17.6562C18.0877 20 18.4375 19.6502 18.4375 19.2188V5.46875C18.4375 5.03727 18.0877 4.6875 17.6562 4.6875ZM10 1.5625C11.8548 1.5625 13.3992 2.91621 13.6976 4.6875H6.30238C6.60082 2.91621 8.14516 1.5625 10 1.5625ZM16.875 18.4375H3.125V6.25H4.6875V8.59375C4.6875 9.02523 5.03727 9.375 5.46875 9.375C5.90023 9.375 6.25 9.02523 6.25 8.59375V6.25H13.75V8.59375C13.75 9.02523 14.0998 9.375 14.5312 9.375C14.9627 9.375 15.3125 9.02523 15.3125 8.59375V6.25H16.875V18.4375Z"></path>
</svg>
<span class="mini-cart__count">10</span>
</div>
          </div>
        </div>
        <div class="mini-cart-modal__list">
          <form action="" nethod="">
            <div class="mini-cart-modal__item"><a class="preview" href="#"><img class="lazyload w-100" data-src="images/cat1.png" alt="img"></a>
              <div class="d-flex flex-column"><a class="title" href="#">Здесь название</a><span class="price">1 x 1 499 Р.</span></div>
            </div>
            <div class="mini-cart-modal__item"><a class="preview" href="#"><img class="lazyload w-100" data-src="images/cat1.png" alt="img"></a>
              <div class="d-flex flex-column"><a class="title" href="#">Здесь название и оно очень большое, сам посмотри только на это!</a><span class="price">1 x 1 499 Р.</span></div>
            </div>
            <div class="mini-cart-modal__item"><a class="preview" href="#"><img class="lazyload w-100" data-src="images/cat1.png" alt="img"></a>
              <div class="d-flex flex-column"><a class="title" href="#">Здесь название</a><span class="price">1 x 1 499 Р.</span></div>
            </div>
            <div class="mini-cart-modal__item"><a class="preview" href="#"><img class="lazyload w-100" data-src="images/cat1.png" alt="img"></a>
              <div class="d-flex flex-column"><a class="title" href="#">Здесь название и оно очень большое, сам посмотри только на это!</a><span class="price">1 x 1 499 Р.</span></div>
            </div>
          </form>
        </div>
        <div class="mini-cart-modal__footer">
          <div class="mini-cart-modal__final-price d-flex justify-content-between align-items-center"><span>Цена:</span><span>1 499 Р.</span></div><a class="mini-cart-modal__submit" href="#">Оформить заказ</a>
        </div>
      </div>
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
